# VS Code
.vscode/**
.vscode

# pycache
**/__pycache__/

# migrations
**/migrations/**
!__init__.py

# static files
/**/static/

# db
**/db.sqlite3

# Environment variables
.env

**/.DS_Store

# celery
celerybeat.pid