[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
pandas = "*"
requests = "*"
pytz = "*"
timezonefinder = "*"
django-filter = "*"
geopy = "*"
django-cors-headers = "*"
django-celery-beat = "*"
django-prometheus = "*"
tqdm = "*"
psycopg2-binary = "*"
redis = "*"
supervisor = "*"
gunicorn = "*"
django-postgrespool2 = "*"
celery = "~=4.4.3"
django-redis = "*"
rest-framework-cache = "*"
django-allauth = "*"

[requires]
python_version = "3.7"
