[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
pandas = "*"
requests = "*"
pytz = "*"
timezonefinder = "*"
celery = "*"
django-filter = "*"

[requires]
python_version = "3.7"
